.userDetails{

  padding-left: 22em;
  padding-top: 50px;

}

form{
  padding-top: 100px;
}

.header{
  text-align: center;
  font-weight: 500px;
  padding-top: 30px;
}

body{
  background-color: red;
}
