img{
  width: 200px;
}

.list{

padding-right: 100px;

}

.addCar {
color:#ffcc00;
font-weight: bold;
padding-top: 100px;
width: 600px;
padding-left: 100px;
}


  .body{
   background-color:  #3399ff;



  }
