.body{
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: -40px;
  width: auto;
  height: auto;

 background-color:  #3399ff;
  background-size: cover;
color:#ffcc00;
  z-index: 0;
}

.welcome{
  padding-top: 200px;
  padding-left: 500px;
}
