<div class="body">
<div class="list" >
  <div class="ui-g">
    <div class="ui-g-8">
  <p-dataList [value]="rents" [paginator]="true" [rows]="2" [totalRecords]="3">
      <p-header>
          <strong>Historia </strong>
      </p-header>
      <ng-template let-rent pTemplate="item">
          <div class="ui-g ui-fluid car-item">
              <div class="ui-g-12 ui-md-3" style="text-align:center">
                  <img style="width:200px" src="{{rent.car.photo}}">
              </div>
              <div class="ui-g-12 ui-md-6 car-details">
                  <div class="ui-g">

                    <div class="ui-g-2 ui-sm-6"><strong>Data odbioru: </strong></div>
                    <div class="ui-g-10 ui-sm-6">{{rent.rentDate | date:'dd-MM-yyyy'}}</div>

                    <div class="ui-g-2 ui-sm-6"><strong>Data zwrotu: </strong></div>
                    <div class="ui-g-10 ui-sm-6">{{rent.returnDate | date:'dd-MM-yyyy'}}</div>

                    <div class="ui-g-2 ui-sm-6"><strong>Marka: </strong></div>
                    <div class="ui-g-10 ui-sm-6">{{rent.car.brand}}</div>

                      <div class="ui-g-2 ui-sm-6"><strong>Model: </strong></div>
                      <div class="ui-g-10 ui-sm-6">{{rent.car.model}}</div>


                      <div class="ui-g-2 ui-sm-6"><strong>Status: </strong></div>
                      <div class="ui-g-10 ui-sm-6">{{rent.state}}</div>

                      <div class="ui-g-2 ui-sm-6"><strong>Koszt: </strong></div>
                      <div class="ui-g-10 ui-sm-6">{{rent.cost}} PLN</div>

                  </div>

              </div>


          </div>
                <hr>
      </ng-template>

  </p-dataList>
</div>
</div>
  <div>
