.pickup{
  display: absolute;
float: left;
width: 590px;
}

.search-button{
  padding-left: 230px;
}

.info{

   opacity: .6;
}

.selectedCars{
  padding-top: 20px;
  padding-right: 100px;
}

img{
  width: 200px;
}

h3{
  text-align: center;
}

.list{
  padding-top: 20px;
  padding-left: 100px;

width: 100%
}

.card{
  padding-top: 300px;
  
}

.return{
  clear:both;
  width: 590px;
  padding-top: 5px;
  padding-left: 5px;

  display: relative;
}

.car-type{
  padding-top: 5px;
  padding-left: 19px;
  display: relative;
}
.body{
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
	   background-color:  #3399ff;
	background-size: cover;

	z-index: 0;
}

.summary{
  padding-left: 300px;
  height: 1000px;
  padding-top: 100px;
}

.summary img{
  padding-top: 10px;
  padding-left: 45px;
  width:450px;
}

.carDetails{
  padding-top: 30px;
  padding-left: 70px;
}

.carSummary{
  padding-top: 200px;
  paddinig-left: 50px;
}

.details{
  padding-top:60px;
  font-weight: bold;
}



.success-message__icon {
    max-width: 75px;
}

.successTemplate{

  padding-top: 100px;
  padding-right: 100px;
}

.search-button{
  padding-top: 20px;
}

.search-inputs{
  padding-top: 20px;
  padding-left: 100px;
}

.map{
  padding-top: 100px;


}
